* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*would on show on screen widths <500px*/
.m_query_nav {
  display: none;
}

/*black background part*/
.black_bg {
  background-color: black;
  max-height: 25px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.black_bg_list_one {
  display: flex;
}

.black_bg_list_two {
  display: flex;
}

.list {
  color: gray;
  list-style: none;
  margin: 0 5px;
}

.list:hover {
  cursor: pointer;
  color: #fff;
}


/*white background part*/
.white_bg {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  max-height: 20px;
}

.white_bg_list {
  display: flex;
  color: rgb(139, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 5px 0;
}

.list_two {
  margin: 0 5px;
  list-style: none;
}

.white_bg_search {
  color: rgb(136, 120, 120);
  padding: 0 5px;
  border-left: 1px solid gray;
}

.white_bg_search:hover {
  cursor: pointer;
}

.list_two:hover {
  color: black;
  cursor: pointer;
}


/*Yellow background part*/
.yellow_bg {
  background-color: rgb(235, 235, 19);
  min-height: 30px;
}

.yellow_bg_div {
  padding: 8px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.yellow_bg_div:hover {
  cursor: pointer;
}

.body_one {
  margin-bottom: 100px;
}

.flex-container {
  margin-top: 80px;
  height: 510px;
  display: flex;
}

.item1 {
  margin: auto 10px;
  width: 70%;
  position: relative;
  background-image: linear-gradient(
    rgba(255, 61, 61, 0.562), rgba(0, 0, 0, 1)),
    url("images/Phone.jpeg");
    background-size: cover;
    background-position: center;
}

.date-time {
  position: absolute;
  top: 0;
  right: 10px;
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.item1-topic {
  margin-left: 10px;
  margin-top: 20%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
}

.item1-about {
  margin: 10px 10px;
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-sub-container {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.item2 {
  height: 250px;
  position: relative;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
    url("images/account.jpeg");
  background-size: cover;
  background-position: center;
}

.item2-topic {
  position: absolute;
  bottom: 15%;
  left: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.item2-about {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;

}

.item3 {
  position: relative;
  margin-top: 10px;
  height: 250px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
    url("images/duplicate.png");
  background-size: cover;
  background-position: center;
}

.item3-topic {
  position: absolute;
  bottom: 15%;
  left: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.item3-about {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.body_two {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.funding_rounds {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  gap: 1rem;
}

.topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  color: rgb(255, 100, 10);
}

.topic > h3 {
  font-size: 2rem;
}

.topic > h3:hover {
  cursor: pointer;
  color: #000;
}

ul.funding_rounds_list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

ul.funding_rounds_list > li:hover {
  color: #000;
  cursor: pointer;
}

.frb {
  padding: 1rem;
  width: 100%;
  height: 250px;
  display: flex; 
  justify-content: space-between; 
}

.box {
  width: calc(100% / 4.2);
  height: 100%;
  background: #000;
}









/*media query for screen widths less than 500px,
works well on screen widths >500px*/
@media screen and (max-width: 500px) {
  
  /*for black background part not to show*/
 .black_bg {
    display: none;
 }

 /*for white background part not to show*/
 .white_bg {
    display: none;
 }

  /*new nav-bar for this screen*/
 .m_query_nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: fit-content;
 }

  /*The company logo*/
  img {
    background-color: black;
    padding: 10px;
  }

  /*hamburger menu and search*/
 .navbar {  
    display: flex;
 }

  /*hamburger menu*/
 .bars {
    display: flex;
    padding: 0 3px;
    flex-direction: column;
 }

 .icon-bar {
    width: 30px;
    margin: 3px 0;
    height: 5px;
    background-color: #000;
    border-radius: 4px;
 }

  /*the search icon*/
 .fa {
   color: black;
   margin: 0 10px;
   font-size: 30px;
   padding-right: 5px;
   border-right: 2px solid #000;
 }

 .bars, .fa:hover {
    cursor: pointer;
 }
}

@media screen and (max-width: 600px) {
  .item1 > img, .date-time {
    display: none;
  }

  .item1 {
    margin: auto 0;
  }

  .item1-topic {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 700px;
  }

  .flex-sub-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .item1, .item2, .item3 {
    width: 100%;
  }

  .topic {
    flex-direction: column;
  }
}