* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.part_one {
    background: #000;
    max-height: 20px;
}

.part_one {
    display: flex;
    align-items: center;
    color: #898888;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.nav_one {
    display: flex;
    flex-grow: 7;
}

.nav_two {
    display: flex;
    flex-grow: 1;
} 

.list {
    list-style: none;
    margin: 0 6px;
}

.list:hover {
    cursor: pointer;
    color: #fff;
}

.part_two {
    min-height: 30px;
}

.part_three {
    background: yellow;
    min-height: 30px;
}