* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*would on show on screen widths <500px*/
.m_query_nav {
  display: none;
}

/*black background part*/
.black_bg {
  background-color: black;
  max-height: 25px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.black_bg_list_one {
  display: flex;
}

.black_bg_list_two {
  display: flex;
}

.list {
  color: gray;
  list-style: none;
  margin: 0 5px;
}

.list:hover {
  cursor: pointer;
  color: #fff;
}


/*white background part*/
.white_bg {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  max-height: 20px;
}

.white_bg_list {
  display: flex;
  color: rgb(139, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 5px 0;
}

.list_two {
  margin: 0 5px;
  list-style: none;
}

.white_bg_search {
  color: rgb(136, 120, 120);
  padding: 0 5px;
  border-left: 1px solid gray;
}

.white_bg_search:hover {
  cursor: pointer;
}

.list_two:hover {
  color: black;
  cursor: pointer;
}


/*Yellow background part*/
.yellow_bg {
  background-color: rgb(235, 235, 19);
  min-height: 30px;
}

.yellow_bg_div {
  padding: 8px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.yellow_bg_div:hover {
  cursor: pointer;
}

.grid-container {
  height: 500px;
  display: grid;
  grid-template-areas: 
    'main main main side1'
    'main main main side1'
    'main main main side2'
    'main main main side2';
  gap: 10px;
}

.item1 {
  grid-area: main;
  background-image: linear-gradient(
    rgba(255, 61, 61, 0.562), rgba(0, 0, 0, 1)),
    url("images/Phone.jpeg");
}

.item2 {
  grid-area: side1;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
    url("images/account.jpeg");
  background-size: cover;
  background-position: center;
}

.item3 {
  grid-area: side2;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
    url("images/duplicate.png");
  background-size: cover;
  background-position: center;
}

/*media query for screen widths less than 500px,
works well on screen widths >500px*/
@media screen and (max-width: 500px) {
  
  /*for black background part not to show*/
 .black_bg {
    display: none;
 }

 /*for white background part not to show*/
 .white_bg {
    display: none;
 }

  /*new nav-bar for this screen*/
 .m_query_nav {
    display: flex;
    justify-content: space-between;
    height: fit-content;
 }

  /*The company logo*/
  img {
    background-color: black;
    padding: 10px;
  }

  /*hamburger menu and search*/
 .navbar {  
    display: flex;
 }

  /*hamburger menu*/
 .bars {
    display: flex;
    padding: 0 3px;
    flex-direction: column;
 }

 .icon-bar {
    width: 30px;
    margin: 3px 0;
    height: 5px;
    background-color: #000;
    border-radius: 4px;
 }

  /*the search icon*/
 .fa {
   color: black;
   margin: 0 10px;
   font-size: 30px;
   padding-right: 5px;
   border-right: 2px solid #000;
 }

 .bars, .fa:hover {
    cursor: pointer;
 }
}


